In [1]:
import pandas as pd

In [6]:
data_2022 = pd.read_csv("equity_data_2022.csv")
data_2020 = pd.read_csv("equity_data_2020.csv")

data_2020.columns = data_2020.columns.str.lower()
data_2022.columns = data_2022.columns.str.lower()
data_2020 = data_2020.drop(['series'], axis=1)

In [13]:
def date_sort(date):
    return pd.to_datetime(date, format='%Y-%m-%d')

In [4]:
data_2020.head()

,symbol,date1,prev_close,open_price,high_price,low_price,last_price,close_price,avg_price,ttl_trd_qnty,turnover_lacs,no_of_trades,deliv_qty,deliv_per
0,20MICRONS,2020-01-01,35.20,36.00,36.80,35.25,35.65,35.80,35.96,49077,17.65,370,36031,73.42
1,3IINFOTECH,2020-01-01,1.95,2.00,2.05,1.95,2.05,2.00,1.99,800982,15.96,356,641119,80.04
2,3MINDIA,2020-01-01,21304.70,21350.70,21820.90,21348.85,21750.00,21721.95,21641.04,773,167.29,445,461,59.64
3,3PLAND,2020-01-01,6.00,6.00,6.00,6.00,6.00,6.00,6.00,167,0.01,3,167,100.00
4,5PAISA,2020-01-01,192.50,192.05,211.75,192.05,206.00,205.50,207.27,107432,222.68,2576,30263,28.17

In [15]:
data_2020 = data_2020.sort_values('date1', key=date_sort)
data_2020.head()

,symbol,date1,prev_close,open_price,high_price,low_price,last_price,close_price,avg_price,ttl_trd_qnty,turnover_lacs,no_of_trades,deliv_qty,deliv_per
0,20MICRONS,2020-01-01,35.20,36.00,36.80,35.25,35.65,35.80,35.96,49077,17.65,370,36031,73.42
1002,PANAMAPET,2020-01-01,67.35,69.70,69.70,65.30,67.00,66.85,66.66,13857,9.24,407,8860,63.94
1001,PANACEABIO,2020-01-01,131.30,131.15,132.55,129.15,129.70,130.05,130.99,12540,16.43,567,8740,69.70
1000,PALREDTEC,2020-01-01,15.95,16.65,16.70,15.70,16.70,16.50,16.39,3290,0.54,188,1606,48.81
999,PALASHSECU,2020-01-01,29.00,32.00,32.50,25.05,30.00,30.00,29.38,1846,0.54,67,720,39.00